@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

html {
  height: 100%;
}

#root {
  height: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  height: inherit;
}


